.container {
  display: flex;
  height: 100vh;
  padding: 20px;
}

.sidebar {
  width: 20%;
  background-color: #f0f0f0;
  padding: 20px;
  min-height: 500px;
}

.home-content {
  min-width: 87.5%;
  padding: 20px;
  overflow: auto; /* Add overflow to the home-content to allow scrolling */
  
}

h1 {
  color: #007bff; /* Blue color */
}

.mat-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px; /* Add spacing between rows */
  margin-top: 20px;
  
  
}

.mat-header-cell, .mat-cell {
  padding: 12px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #f0f8ff; /* Light blue background color */
  color: #333; /* Text color */
}

.mat-header-cell {
  font-weight: bold; /* Make header cells bold */
}

.mat-cell {
  background-color: #ffffff; /* White background color for cells */
}

.mat-row:nth-child(even) .mat-cell {
  background-color: #cce5ff; /* Blue background color for even rows */
}

.mat-row:hover {
  background-color: #f0f0f0; /* Light gray background color on hover */
}

a {
  color: #007bff; /* Blue color for links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}



.dashboard-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 30px;
  padding: 15px;
  margin-left:3px
}

.dashboard-box {
  padding: 20px;
  border-radius: 10px; /* Increase border-radius for rounded corners */
  flex: 1;
  margin-right: 10px;
}
.dashboard-title{
  font-weight: 800;
  color: #3498db;
}


.dashboard-value {
  font-size: 24px;
  color: #3498db;
}



/* Background colors for dashboard boxes */
.blue-box {
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(23, 152, 207, 0.8);

  background-color: white;
  /* background-color:#3498db; */
  /* color:#007bff */
  /* background-color: #1e90ff; */

  /* background-color: #4a90e2;  */
}
.blue-box:hover {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(23, 152, 207, 0.65);

  
  background-color:#3498db;
  /* color:#007bff */
  /* background-color: #1e90ff; */

  /* background-color: #4a90e2;  */
}

.blue-box:hover .dashboard-title,
.blue-box:hover .dashboard-value {
  color: white;
}


.green-box {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: #6ab344; /* Green color */
}

.orange-box {
  background-color: #f7941d; /* Orange color */
}

.purple-box {
  background-color: #8058a5; /* Purple color */
}

.activeSurveys{
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding:20px;
}