.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  min-width: 237px;
  background-color: #ffffff;
}

.card {
  width: 100%;
  max-width: 800px;
  display: flex;
  color: #ffffff;
}
 .not-started .mat-mdc-card {
  background-color: #34c3eb;
}

.full-width {
  width: 100%;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}