.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  min-width: 237px;
}

.card {
  width: 100%;
  max-width: 800px;
  display: flex;
}

.full-width {
  width: 100%;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.survey-closed-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #34c3eb;
}

.message-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}