


<div class="home-container2">
    <h1 class="Heading2">Powerful Insights with Ease</h1>
  </div>
  
  
  
  <div class="row1">
    <div class="column">
      <div class="title">
        <img class="sp-logo" src="assets/Logo-1.png" alt="Logo 1" />
        <h2>Instant Analysis</h2>
      </div>
      <p class="p2">Our platform carries out instant analysis,giving you real-time insights into your survey data.</p>
    </div>
  
    <div class="column">
      <div class="title">
        <img class="sp-logo" src="assets/logo-2.png" alt="Logo 2" />
        <h2>Smart Logic</h2>
      </div>
      <p class="p2"> Implement smart logic in your surveys,ensuring only relevant questions are shown to participants.</p>
    </div>
  </div>
  
  <div class="row2">
    <div class="column">
      <div class="title">
        <img class="sp-logo" src="assets/logo3.png" alt="Logo 1" />
        <h2>Customizable Surveys</h2>
      </div>
      <p class="p2">Tailor your surveys according to your needs. Optimize your questions for better data collections.</p>
    </div>
  
    <div class="column">
      <div class="title">
        <img class="sp-logo" src="assets/logo4.png" alt="Logo 2" />
        <h2>Secure Data</h2>
      </div>
      <p class="p2">We prioritize your data security. Your response are safely encrypted in our secure database.</p>
    </div>
  </div>
  