<div class="blog-header">
    <div class="blog-heading">
      <h1>Expert Insight in our</h1>
      <h1>Blogs</h1>
    </div>
    <div class="blog-subheading">
      <h3>Dive into a variety of topics, gain knowledge, and make your</h3>
      <h3>Surveys stand out</h3>
    </div>
  </div>
  

<div class="blog-container">
  <div class="blog-post">
    <img
      src="./assets/post1.webp"
      alt="Blog Post Image"
      class="post-image"
    />
    <div class="post-content">
      <h2 class="post-title">Blog Post Title</h2>
      <p class="post-date">Published on February 20, 2024</p>
      <p class="post-excerpt">
        This is a brief excerpt of the blog post content. It should provide a
        glimpse of what the post is about.
      </p>
      <a href="#" class="read-more-link">Read more</a>
    </div>
  </div>

  <!-- Repeat the above structure for additional blog posts -->
  <div class="blog-post">
    <img
      src="./assets/post1.webp"
      alt="Blog Post Image"
      class="post-image"
    />
    <div class="post-content">
      <h2 class="post-title">Blog Post Title</h2>
      <p class="post-date">Published on February 20, 2024</p>
      <p class="post-excerpt">
        This is a brief excerpt of the blog post content. It should provide a
        glimpse of what the post is about.
      </p>
      <a href="#" class="read-more-link">Read more</a>
    </div>
  </div>


  <div class="blog-post">
    <img
      src="./assets/post1.webp"
      alt="Blog Post Image"
      class="post-image"
    />
    <div class="post-content">
      <h2 class="post-title">Blog Post Title</h2>
      <p class="post-date">Published on February 20, 2024</p>
      <p class="post-excerpt">
        This is a brief excerpt of the blog post content. It should provide a
        glimpse of what the post is about.
      </p>
      <a href="#" class="read-more-link">Read more</a>
    </div>
  </div>
</div>
