

.logo-contaiiner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container img {
    max-height: 50px; /* Adjust the value as needed */
    max-width: 100%;  /* Ensures the image doesn't exceed the container width */
    margin-right: 10px; /* Add some margin to separate the logo from other elements */
  }