<div class="landing-container1">
  <div class="text-section">
    <h1 class="Heading1">Experience </h1>
    <h1 class="Heading2">High-Quality</h1>
    <h1 class="Heading3"> Online Surveys</h1>
    <p class="p1">
      Effortlessly create and analyze online surveys with our comprehensive
      platform.
    </p>
    <button (click)="navigateToHome()" class="Get-Stated-btn" mat-button color="primary" style="color:  aliceblue;">
      Get Started
    </button>
  </div>
  <div class="image-section">
    <img src="assets/laptop.jpg" alt="Laptop" />
  </div>
</div>
<app-second-page></app-second-page>
<app-user-success-stories></app-user-success-stories>
<app-survey-statistics></app-survey-statistics>
<app-blog></app-blog>
<app-support></app-support>
<app-get-started></app-get-started>
<app-footer></app-footer>


