<form [formGroup]="form" *ngFor="let question of  fillData; let i = index">
    <div class="form-group">

      <label>{{i+1}}. {{question.questionText}}</label>

      <input *ngIf="question.questionOptionType == 3" type="text" placeholder="Enter your answer" [formControlName]="question.questionId.toString()">


      <div *ngIf="question.questionOptionType == 1">
        <div *ngFor="let option of question.options">
          <input type="radio" [formControlName]="question.questionId.toString()" [value]="option.optionId">
          <label>
            {{option.optionText}}
          </label>
        </div>
      </div>

      <div *ngIf="question.questionOptionType == 2">
        <div [formGroupName]="question.questionId.toString()">
          <div *ngFor="let option of question.options">
            <input  type="checkbox" [formControlName]="option.optionId">
            <label>
              {{option.optionText}}
            </label>
          </div>
        </div>
      </div>
    </div>    
</form>
<button (click)="OnSubmit()">Submit</button>