.questionbank-content {
    border: 1px solid #ddd; /* Add border to company content */
    padding: 20px; /* Add padding for better visual */
    /* background-color: #f2ebf5;  */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-left: 10px;
    margin-bottom: 2%;

   
   
   
   
  }
  
  .questionbank-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .questionbank-container {
    display: flex;
    height: 100vh;
    margin-left: 1%;
    
  }
  
  .add-button{
    flex-grow: 1; /* This will make the content div grow and take up all available space */
    display: flex;
   
    justify-content: flex-end; /* This aligns the button to the right end */
  
  }
  
  .questionbank-content {
    
    width: 80%;
    padding: 20px;
  }
  .questions{

    padding-top:20px;
    max-width: 1248px;
    max-height:85%;
    margin:0 auto;
    overflow-y: auto;
   
  }
  .question-text {
    color: #1e88e5; /* Blue shade for question text */
  }

  .question {
    margin-bottom: 20px; /* Provide margin bottom to separate each question */
  }
  
  .questions hr {
    border: 1;
    border-top: 1px solid hwb(0 51% 47%); /* Add a horizontal line to separate questions */
    margin: 20px 0; /* Adjust the margin for the horizontal line */
  }
  .small-icon {
    width: 24px; /* Set width for the icons */
    height: 24px; /* Set height for the icons */
    padding: 0; /* Remove padding to make icons fit properly */
    border-radius: 4px; /* Apply border-radius to make icons rectangular */
    font-size: 16px; /* Adjust the size of the edit and delete icons */
  }
  
  .icon-container {
    display: inline-block; /* Ensure the container does not break to the next line */
    margin-left: 10px; /* Add some space between the text and icons */
  }
  
  