<form [formGroup]="form">
    <label>First Name:</label> <input type="text" formControlName="FirstName"> <br>
    <label>Middle Name:</label> <input type="text" formControlName="MiddleName"> <br>
    <label>Last Name:</label> <input type="text" formControlName="LastName"> <br>
    <label>Email:</label> <input type="text" formControlName="Email"> <br>
    <label>Password:</label> <input type="text" formControlName="Password"> <br>
    <button (click)="AddSurveyor()">
        Add_Surveyor
    </button>
</form>
