
<div class="surveyer-container">
    <div class="sidebar">
        <ul>
            <li><a [routerLink]="['/workspace', 'company']">Workspace</a></li>
            <li><a routerLink="/home">Create</a></li>
        </ul>
    </div>
  
    <div class="surveyer-content">
        <!-- <h6>{{departmentId}}</h6>
        <ul>
            <li *ngFor="let user of users">{{ user.userName }}</li>
        </ul> -->
    
        <form *ngIf="isAdmin" [formGroup]="surveyerDeptForm" (ngSubmit)="createSurveyerDept()" autocomplete="off">
            <label for="surveyerDeptName">Surveyer  Name:</label>
            <!-- Ensure formControlName is set to userName -->
            <input formControlName="userName" type="text" placeholder="Surveyer  Name" class="form-control" required>
            <button class="mt-1" type="submit">Create Surveyer </button>
        </form>
    
        <ul>
            <li *ngFor="let surveyerDept of surveyerDepts">
                <!-- Check if userName, companyId, and departmentId are being displayed correctly -->
                <h6 class="surveyer-link">{{ surveyerDept.userName }} </h6>
                <hr>
            </li>
        </ul>


        <button (click)="navigateToCreate()" class="btn btn-primary">
            Create Survey
          </button>
    </div>
    
</div>



