 <div class="surveyer-container">
    <app-sidebar></app-sidebar>
  
    <div class="surveyer-content">
      <h6>{{departmentId}}</h6>
  
      <!-- Table for List of Users -->
     <!--<table class="user-table">
        <thead>
          <tr>
            <th>User Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.userName }}</td>
          </tr>
        </tbody>
      </table> --> 
  
      <!-- Form for Creating Surveyer Department -->
      <form *ngIf="isAdmin" [formGroup]="surveyerDeptForm" (ngSubmit)="createSurveyerDept()" autocomplete="off">
        <label for="surveyerDeptName">Surveyer  Name:</label>
        <input formControlName="userName" type="text" placeholder="Surveyer Department Name" class="form-control" required>
        <button class="mt-1" type="submit">Create Surveyer </button>
      </form>
  
      <!-- Table for List of Surveyer Departments -->
      <table class="surveyer-dept-table">
        <thead>
          <tr>
            <th>User Name</th>
  
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let surveyerDept of surveyerDepts">
            <td>
              <a class="surveyer-link" [routerLink]="['/home']">
                {{ surveyerDept.userName }}
              </a>
            </td>
          </tr>
        </tbody>
      </table>



      <button (click)="navigateToCreate()" class="btn btn-primary mt-5">
        Create Survey
      </button>

    </div>
  </div>
  