/* Updated styles for improved design */

.company-content {
  border: 1px solid #ddd; /* Add border to company content */
  padding: 20px; /* Add padding for better visual */
  /* background-color: #f2ebf5;  */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-left: 10px;
  margin-bottom: 2%;
}
.company-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.buttons-container button {
  margin-left: 10px;
  padding: 8px 16px;
  cursor: pointer;
}

.company-container {
  display: flex;
  height: 100vh;
  margin-left: 1%;
}

.add-button{
  flex-grow: 1; /* This will make the content div grow and take up all available space */
  display: flex;

  justify-content: flex-end; /* This aligns the button to the right end */

}

.company-content {
  
  width: 80%;
  padding: 20px;
}
.table-company{

  padding-top:20px;
  max-width: 1248px;
  margin:0 auto;
  margin-bottom: 3%;


}

mat-form-field{
  width: 100%;

}
.action{
  display: flex;
  gap:5%
}
.mat-mdc-form-field-focus-overlay{
  background-color: white;
}