


  <!-- survey-statistics.component.html -->

<div class="navigation-bar">
    <!-- Add your navigation bar content here -->
    <!-- For example, you can add links, buttons, etc. -->
  </div>
  
  <div class="SurveyStatisticsHeading">
    Survey Statistics at Glance
  </div>
  
  <div class="SubHeading">
    Navigate through our impressive survey statistics and understand our reach.
  </div>
  
  <!-- Additional Information -->
  <div class="SurveyInfo">
    <div class="InfoBlock">
      <div class="InfoHeading">{{totalSurveys}}</div>
      <div class="InfoSubHeading">Survey Created</div>
      <div class="InfoDescription">Across global users</div>
    </div>
  
    <div class="Line"></div> 


    <div class="InfoBlock">
      <div class="InfoHeading">{{totalResponses}}</div>
      <div class="InfoSubHeading">Response Collected</div>
      <div class="InfoDescription">Secure and reliable data</div>
    </div>
  </div>
  
  <!-- Add your survey statistics content here -->
  
  <!-- Add your survey statistics content here -->
  