<div class="download-container">
    <h2>Download Reports</h2>
    <p>Select the type of report you want to generate:</p>
  
    <div class="button-row">
      <button (click)="generateUserReport()">Generate User Report</button>
      <button (click)="generateWorkspaceReport()">Generate Workspace Report</button>
    </div>
  
    <div class="button-row">
      <button (click)="generateSurveyReport()">Generate Survey Report</button>
      <button (click)="generateRespondentReport()">Generate Response Report</button>
    </div>
  
    <p class="description">Click on a button to generate the respective report.</p>

    </div>