/* Profile Component CSS */
.profile-container {
  display: flex;
  height: 100vh;
  margin-left: 10px;
}

.profile-box {
  background-color: #fff;
  padding: 20px;
  margin: 20px; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  height: 200px; /* Set the fixed height */
 
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: calc(33% - 40px); /* Adjust the width as needed */
}

.profile-box h2 {
  color: #333;
}

.profile-box p {
  margin: 10px 0;
}

.profile-box button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-box button:hover {
  background-color: #2980b9;
}

/* Edit Popup CSS */
.edit-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.edit-popup.blur-background {
  backdrop-filter: blur(5px); /* Add backdrop-filter for the blur effect */
}

.edit-popup h3 {
  margin-bottom: 10px;
  color: #333;
}

.edit-popup label {
  display: block;
  margin-top: 10px;
  color: #555;
}

.edit-popup input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.edit-popup button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.edit-popup button:hover {
  background-color: #2980b9;
}

.removeBtn {
  margin-bottom: 10px;
  align-items: center;
}