<!-- Profile Component HTML -->
<div class="profile-container">
  <app-sidebar></app-sidebar>
  <div class="profile-box">
    <h2>Name</h2>
    <p>{{ firstName | titlecase}} {{ lastName | titlecase }}</p>
    <button (click)="openEditPopup('name')">Edit</button>
  </div>

  <div class="profile-box">
    <h2>Email</h2>
    <p>{{ email }}</p>
    <!-- <button (click)="openEditPopup('email')">Edit</button> -->
  </div>

  <div class="profile-box">
    <h2>Joined On</h2>
    <p>{{ dateCreated | date:'MMM d, y'}}</p>

    
  </div>

 
</div>

<!-- Edit Popup HTML -->
<div *ngIf="showEditPopup" class="edit-popup">
  <h3>
    Edit
    {{
      editType === "name" ? "Name" : editType === "email" ? "Email" : "Photo"
    }}
  </h3>

  <!-- Edit Name Fields -->
  <div *ngIf="editType === 'name'">
    <label for="editFirstName">First Name:</label>
    <input id="editFirstName" type="text" [(ngModel)]="editedFirstName" />

    <label for="editLastName">Last Name:</label>
    <input id="editLastName" type="text" [(ngModel)]="editedLastName" />
  </div>
 
 
 

 

  <button (click)="cancelEdit()">Cancel</button>
  <button (click)="continueEdit()">Continue</button>
</div>