<div class="Upper">
<h1 style="text-align: center;color: rgb(46, 29, 234)">Enter Survey Questions</h1>
<br>
<form [formGroup]="form_question">
        <div class="question-input">
        <br>
        <mat-form-field class="input">
            <mat-label>Enter Your Question</mat-label>
            <input type="text" matInput formControlName="question_text" required>
        </mat-form-field>
        <br>
        <label>Select the Question type:</label>
        <br>
        <mat-radio-group formControlName="question_type">
            <mat-radio-button value="1">Multiple Choice Question</mat-radio-button>
            <mat-radio-button value="2">Multiple Select Question</mat-radio-button>
            <mat-radio-button value="3">Text Question</mat-radio-button>
        </mat-radio-group>
        <div *ngIf="form_question.get('question_type')?.value === '1' || form_question.get('question_type')?.value === '2'">
        <button type="button" (click)="addDynamicField()" class="center">Add Dynamic Text Field</button>
        <div formArrayName="dynamicFields">
            <div *ngFor="let field of dynamicFields.controls; let i = index" style="display: flex;">
                <input type="text" [formControlName]="i" placeholder="Add Options" class="input_options">
                <button type="button" (click)="removeDynamicField(i)" class="center_remove"><mat-icon>remove</mat-icon></button>
            </div>
        </div>
        </div>
        <div class="buttons">
            <button *ngIf="!editingMode" (click)="reset()"  class="center btn btn-primary">Next_Question</button>
            <button *ngIf="editingMode" (click)="reset()" class="center btn btn-primary">Update</button>
            <button (click)="OnComplete()"  class="center btn btn-primary" style="margin-left: 31%;">Survey_Completed</button>
        </div>
        </div>  
</form>

<div>
    <button (click)="openQuestionBank()"><mat-icon>library_books</mat-icon>QuestionBank</button>
</div>
<app-display *ngFor="let questionPreview of question_list; let i = index" [question]="questionPreview"
        [questionNumber]="i + 1" (editClicked)="editQuestion(i)">
</app-display>
</div>