.input {
    padding: 10px 1rem;
    margin-top: 20px;
    width: 100%;
  }

  .Upper{
    display: flex;
    flex-direction: column;
  }
  
  .input_options {
    border-radius: 10px;
    outline: 2px solid #FEBF00;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e2e2e2;
    outline-offset: 3px;
    padding: 10px 1rem;
    transition: 0.25s;
    margin-top: 20px;
    /* Adjust spacing between input and button */
    width: 50%;
  }
  
  
  .survey-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .buttons{
    display: flex;
    flex: column;
    width: 100%;
    justify-content: space-evenly; /* Spacing buttons evenly */
  }

  .center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium;
    font-weight: 800;
    width: 100%;
  }
  
  .question-input {
    margin-bottom: 20px;
    margin-left: 2%;
    width: 100%;
    height: 100%;
    /* Adjust spacing between input and button */
  }
  
  .option-fields {
    display: flex;
    flex-direction: column;
  }
  
  .center {
    display: flex;
    align-items: center; /* Align items vertically */
    width: 100%;
    color: Black;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid black;
    background-color: #e2e2e2;
    box-shadow: 0px 2px 8px rgba(0.1, 0, 0, 0.1);
  }
  
  .container{
    display: flex;
    align-items: center;
    width: 100%;
  }

  .center_remove {
    display: flex;
    align-items: center;
    width: 200px;
    margin-left: 2%;
    margin-bottom: 2%;
    color: Black;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid black;
    background-color: #e2e2e2;
    box-shadow: 0px 2px 8px rgba(0.1, 0, 0, 0.1);
  }

  .output-container {
    margin-top: 20px;
  
  }
  
  .card {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 1000px;
  }
  
  .title{
    position: relative;
    width: 100%;
    display: flex;
  }

  .top-left{
    top : 0;
    right : 0;
    position: absolute;
    height: 100%;
    border-bottom: 1px solid black;
    color: Black;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid black;
    background-color: #e2e2e2;
    box-shadow: 0px 2px 8px rgba(0.1, 0, 0, 0.1);
}
