<div class="outer">
    <div class="card">
        <mat-card class="green-shadow-card">
            <mat-card-content>
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <img src="./assets/HealthcareInformatics.png" class="me-3 mb-3" style="width: 250px; height: 100px;">
                    <blockquote style="font-style: italic; margin-bottom: 20px; color: black; font-style: 30px;">
                        "You've already filled the survey. Thank you for your participation! Only one response per participant is allowed."
                    </blockquote>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
