.card {
    width: 100%;
    max-width: 800px;
    display: flex;
    color: #ffffff;
  }
.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    min-width: 237px;
    background-color: #ffffff;
  }

  .green-shadow-card {
    box-shadow: 15px 0px 30px -15px rgba(0, 255, 0, 0.5); /* Adjust values as needed */
  }
