<!-- users-success-stories.component.html -->
<div class="container">
  <h1 class="Heading1">Users Success Stories</h1>

  <div class="card-row">
    <div class="card">
      <div class="card-image"><img src="assets/user2.jpg" alt="" /></div>
      <p class="card-title">Market Researcher</p>
      <p class="card-body">
        User-Friendly  interface and instant analysis feature have been a major timesaver.
      </p>
      <p class="footer">
        Written by <span class="by-name">John Doe</span> on
        <span class="date">25/05/2024</span>
      </p>
    </div>

    <div class="card">
      <div class="card-image"><img src="assets/user1.jpg" alt="" /></div>
      <p class="card-title">Product Manager</p>
      <p class="card-body">Smart Lofic transformed our user Experience,making the survey process streamlined.
      </p>
      <p class="footer">
        Written by <span class="by-name">Jane Smith</span> on
        <span class="date">26/05/2024</span>
      </p>
    </div>

    <div class="card">
      <div class="card-image"><img src="assets/user2.jpg" alt="" /></div>
      <p class="card-title">Market Researcher</p>
      <p class="card-body">
    The Customizable survey option enabled in-depth targeted data collection for my project.
      </p>
      <p class="footer">
        Written by <span class="by-name">Alice Johnson</span> on
        <span class="date">27/05/2024</span>
      </p>
    </div>

    <div class="card">
      <div class="card-image"><img src="assets/user1.jpg" alt="" /></div>
      <p class="card-title">Success Story 4</p>
      <p class="card-body">
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
        officia deserunt mollit anim id est laborum.
      </p>
      <p class="footer">
        Written by <span class="by-name">Bob Anderson</span> on
        <span class="date">28/05/2024</span>
      </p>
    </div>
  </div>
</div>
