<div class="container">
    <div class="blocks">
      <div class="block" (click)="showContent(1)" [class.active]="selectedBlock === 1">
        Overview
      </div>
      <div class="block" (click)="showContent(2)" [class.active]="selectedBlock === 2">
        Questions
      </div>
      <div class="block" (click)="showContent(3)" [class.active]="selectedBlock === 3">
        Responses
      </div>
    </div>
    <div class="content">
      <ng-container *ngIf="selectedBlock === 1">
        Content for Block 1
      </ng-container>
      <ng-container *ngIf="selectedBlock === 2">
        <div *ngFor="let chartData of newData">
          <p>{{ chartData.questionText }}</p>
          <ng-container *ngIf="chartData.questionType === '1' || chartData.questionType === '2'">
            <ngx-charts-pie-chart
              [view]="view"
              [scheme]="colorScheme"
              [results]="chartData.options"
              [gradient]="gradient"
              [legend]="showLegend"
              [legendPosition]="legendPosition"
              [labels]="showLabels"
              [doughnut]="isDoughnut"
              (select)="onSelect($event)"
              (activate)="onActivate($event)"
              (deactivate)="onDeactivate($event)">
            </ngx-charts-pie-chart>
          </ng-container>
          <ng-container *ngIf="chartData.questionType === '3'">
            <div *ngFor="let option of chartData.options ">
              Option: {{ option.name }} - Count: {{ option.value }}
            </div>
          </ng-container>
        </div>
        
      </ng-container>
      <ng-container *ngIf="selectedBlock === 3">
        Content for Block 3
      </ng-container>
    </div>
  </div>
  