/* Updated styles for improved design */

.company-content {
  border: 1px solid #ddd; /* Add border to company content */
  padding: 20px; /* Add padding for better visual */
  background-color: #f2ebf5; /* Set background color */
  margin-left: 10px;
}

.company-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.buttons-container button {
  margin-left: 10px;
  padding: 8px 16px;
  cursor: pointer;
}

.company-container {
  display: flex;
  height: 100vh;
  margin-left: 1%;
}

.sidebar {
  width: 20%;
  background-color: #343a40;
  padding: 20px;
  min-height: 100vh;
  color: #fff;
}

.company-content {
  display: flex;
  flex-direction: column; /* Adjusted to column layout */
  width: 80%;
  padding: 20px;
  border: 1px solid #ddd; /* Add border to company content */
  padding: 20px; /* Add padding for better visual */
  background-color: #f9f9f9; /* Set background color */
}

.input-group {
  max-width: 300px;
  margin: 0 auto;
}

.submit-button {
  width: fit-content;
  font-size: 12px; /* Adjusted font size */
  padding: 10px;
  border: none;
  background: #2e2e2e;
  border-radius: 8px;
  transition: 0.3s;
  color: #fff;
  cursor: pointer;
  /* Adjusted to full width */
  margin-left: 10px; /* Added margin-top */
  height: 45px;
}

.submit-button:hover {
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
  transition: 0.3s;
}

#input-field {
  background-color: #2e2e2e;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  width: 100%; /* Adjusted to full width */
  padding: 10px;
  color: #fff;
  font-size: 14px;
}

.input-wrapper {
  display: flex;
  flex-direction: row; /* Adjusted to column layout */
}

.company-link {
  text-decoration: none; /* Remove underline from links */
}

.company-table,
.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.company-table th,
.company-table td,
.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.company-table th,
.user-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.company-table a {
  text-decoration: none;
  color: #0066cc;
}

.company-table a:hover {
  text-decoration: underline;
}

.update-button {
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
}

.delete-button {
  cursor: pointer;
  background-color: #f44336;
  color: #fff;
}
