<div class="company-container">
  <app-sidebar></app-sidebar>

  <div class="company-content">
    <div class="input-group">
      <form
        [formGroup]="companyForm"
        (ngSubmit)="createCompany()"
        autocomplete="off"
      >
        <label for="companyName">Company Name:</label>
        <div  class="input-wrapper">

        
        <input id="input-field"
          formControlName="name"
          type="text"
          placeholder="Company Name"
          class="form-control"
          required
        />
        <button  class="submit-button"  type="submit"><span>Create Company</span></button>
        </div>
      </form>
    </div>

    <ul>
      <li *ngFor="let company of companies">
        <a [routerLink]="['/workspace/company', company.companyId]"
          >{{ company.name }} {{ company.companyId }}</a
        >
      </li>
    </ul>

    <p *ngIf="accountService.user$ | async as user">{{ user.id }}</p>
  </div>
</div>
