

/* Updated styles for improved design */

.company-container {
  display: flex;
  height: 100vh;
  margin-left: 1%;
}

.add-button{
  flex-grow: 1; /* This will make the content div grow and take up all available space */
  display: flex;
 
  justify-content: flex-end; /* This aligns the button to the right end */

}

.company-content {
  
  width: 80%;
  padding: 20px;
}
.table-company{

  padding-top:20px;
  max-width: 1248px;
  margin:0 auto;


}

mat-form-field{
  width: 100%;

}
.action{
  display: flex;
  gap:5%
}