/* Updated styles for improved design */

.company-container {
    display: flex;
    height: 100vh;
    margin-left:1%
  }
  
  .sidebar {
    width: 20%;
    background-color: #343a40;
    padding: 20px;
    min-height: 100vh;
    color: #fff;
  }
  
  .company-content {
    width: 80%;
    padding: 20px;
  }
  .input-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 300px; /* Adjust based on your needs */
    margin: 0 auto;
  }
  
  .submit-button {
    font-size: 9px;
    padding: 0.5em 2em;
    border: none;
    background: #2E2E2E;;
    border-radius: 10px;
    transition: 0.3s;
    color: #fff;
    cursor: pointer;
    height: 40px;
    width: 180px;
    margin-left: 20px;
  }
  
  .submit-button:hover {
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    transition: 0.3s;
  }
  
  .submit-button:active {
    transform: translate(0em, 0.2em);
  }
  
  .submit-button span {
    font-weight: 500;
    letter-spacing: 1px;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: text;
    transition: 0.3s;
  }
  
  .submit-button:hover span {
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
  }
  
  #input-field {
    background-color: #2E2E2E;
    border-radius: 8px;
    border: none;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    color: #fff;
    font-size: 14px;
  }
  
  ::placeholder {
    color: rgb(184, 184, 184);
  }
  
  
  .input-wrapper {
    display: flex;
  }
  
  ul {
    list-style: none; /* Remove index-points from lists */
}

hr {
    margin: 2%;
   margin-left: 0;
}

.company-link {
  text-decoration: none; /* Remove underline from links */
}