<div class="company-container">
    <div class="sidebar">
        <ul>
            <li><a [routerLink]="['/workspace', 'company']">Workspace</a></li>
            <li><a routerLink="/home">Create</a></li>
        </ul>
    </div>
  
    <div class="company-content">
        <form [formGroup]="companyForm" (ngSubmit)="createCompany()" autocomplete="off">
            <label for="companyName">Company Name:</label>
            <input  formControlName="name" type="text" placeholder="Company Name" class="form-control"
             required>
            <button type="submit">Create Company</button>
        </form>


        <ul>
            <li *ngFor="let company of companies">
              <a [routerLink]="['/workspace/company', company.companyId]">{{ company.name }} {{company.companyId}}</a>
            </li>
        </ul>
          
      
      
        <p *ngIf="(accountService.user$ | async) as user">{{ user.id }} </p>
    </div>
</div>
