<div class="create-container">
    <div class="sidebar">
        <ul>
            <li><a [routerLink]="['/workspace', 'company']">Workspace</a></li>
            <li><a [routerLink]="['/create','generate']">Create</a></li>
        </ul>
    </div>

    <div class="create-content">
        <div class="description_text">
            <label>Write the Description for the Survey you want to generate...</label><br>
            <textarea placeholder="Write description here." class="custom-text"></textarea>
        </div>
        <button class="btn btn-primary" (click)="CreateSurvey()">
            Generate a Survey
        </button>
        <br>
        <button class="btn btn-primary" (click)="SetTime()">
            Set Time
        </button>
        <div class="settings" [hidden]="set">
            <div>
                <label>Select Start Date:</label>
                <input type="date" (ngModel)="selectedDate" [min]="mindate">
                <label>Select Start Time:</label>
                <input type="time" (ngModel)="selectedTime">
            </div>
            <div>
                <label>Select End Date:</label>
                <input type="date" (ngModel)="selectedDate" [min]="mindate">
            </div>
            <div>
                <label>Enter time duration:</label>
                <input type="number">
            </div>
        </div>
    </div>
</div>

