.card{
    /* margin: 5%; */
    padding: 1%;
    margin: 2%;
}

.output-container{
    margin: 2%;
}

.class-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container{
    display: flex;
}