.dept-container {
    display: flex;
    height: 100%;
    margin-left:1%
  }
  
  .sidebar {
    width: 20%;
    background-color: #f0f0f0;
    padding: 20px;
    min-height: 500px;
  }
  
  .dept-content {
    width: 80%;
    padding: 20px;
  }


ul {
    list-style: none; /* Remove index-points from lists */
}

hr {
    margin: 2%;
   margin-left: 0;
}

.dept-link {
  text-decoration: none; /* Remove underline from links */
}
  