.dept-container {
    display: flex;
    height: 100%;
    margin-left:1%
  }
  
  .sidebar {
    width: 20%;
    background-color: #f0f0f0;
    padding: 20px;
    min-height: 500px;
  }
  
  .dept-content {
    width: 80%;
    padding: 20px;
  }
  