<div class="dept-container">
    <div class="sidebar">
        <ul>
            <li><a [routerLink]="['/workspace', 'company']">Workspace</a></li>
            <li><a routerLink="/home">Create</a></li>
        </ul>
    </div>
  
    <div class="dept-content">
        <form [formGroup]="departmentForm" (ngSubmit)="createDepartment()" autocomplete="off">
            <label for="departmentName">Company Name:</label>
            <input  formControlName="name" type="text" placeholder="Department Name" class="form-control"
             required>
            <button type="submit">Create Department</button>
        </form>


        <ul>
            <li *ngFor="let dept of departments">
              <a [routerLink]="['/workspace/company', companyId,dept.departmentId]">{{ dept.name }} {{dept.companyId}}</a>
            </li>
        </ul>
          
      
      
       
    </div>
</div>
