/*  


img{
  
        max-height: 50px; 
        max-width: 70%;  
        margin-right: 10px;    
    
}
:host ::ng-deep .p-sidebar {
    width: 250px;
    height: 100%;
    background-color: #ffffff; 
    color: black; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
    display: flex;
    flex-direction: column;
  }
 
  :host ::ng-deep .p-sidebar .p-sidebar-header {
    padding: 1rem;
    text-align: center;
    
  }
  


  nav{
    background: #333;
    padding: 20px;
  }
  .nav-icon {
      margin: 0;
      width: 30px;
      cursor: pointer;
  }
  
  .nav-icon:after,
  .nav-icon:before,
  .nav-icon div {
      background-color: #3498db;
      border-radius: 3px;
      content: "";
      display: block;
      height: 2px;
      margin: 7px 0;
      transition: all 0.2s ease-in-out;
  }
  
  .nav-icon.closed:before {
      transform: translateY(3px) translateX(-2px) rotate(135deg);
      width: 17px;
  }
  
  .nav-icon.closed:after {
      transform: translateY(-3px) translateX(-2px) rotate(-135deg);
      width: 17px;
  }


  .close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #3498db;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  

  */@import url('https://fonts.googleapis.com/css?family=Quicksand');


  .input {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #00adef;
    justify-content: flex-start;
    border-radius: 5px;
    position: relative;
    height: 100%;
  }
  
  .value {
    background-color: transparent;
    border: none;
    padding: 10px;
    display: flex;
    position: relative;
    gap: 5px;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
  }
  
  .value:hover:not(:active) {
    background-color: #0066a2;
  }
  
  .value:not(:active):hover,
  .value:focus {
    background-color: #0f75bd;
  }
  
  .value:focus,
  .value:active {
    background-color: #1e90ff;
    outline: none;
  }
  
  .value::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -10px;
    width: 5px;
    height: 80%;
    background-color: #2f81f7;
    border-radius: 5px;
    opacity: 0;
  }
  
  .value:focus::before,
  .value:active::before {
    opacity: 1;
  }
  
  .profile-button {
    margin-top: auto;
    display: flex;
    align-items: center;
    /* padding: 10px; */
    color: #fff;
  }
  
  .profile-button .value {
    width: 100%;
    background-color: #00adef;
  }
  
  .profile-button .value:hover,
  .profile-button .value:active {
    background-color: #1e90ff;
  }
  


  nav{
    background:white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  .nav-icon {
      margin: 0;
      width: 30px;
      cursor: pointer;
     
  }
  
  .nav-icon:after,
  .nav-icon:before,
  .nav-icon div {
      background-color: #3498db;
      border-radius: 3px;
      content: "";
      display: block;
      height: 2px;
      margin: 7px 0;
      transition: all 0.2s ease-in-out;
  }
  
  .nav-icon.closed:before {
      transform: translateY(3px) translateX(-2px) rotate(135deg);
      width: 17px;
  }
  
  .nav-icon.closed:after {
      transform: translateY(-3px) translateX(-2px) rotate(-135deg);
      width: 17px;
  }
  ::ng-deep .p-sidebar {
    width: 250px; /* Set the desired width */
    
  }
  
  /* Style the logo image */
  ::ng-deep .p-sidebar .inline-flex img {
    width: 200px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
  }

  
a.chart {
  height: 20px;
  margin-right: 30px;
  top:5px;
  width: 4px;
}
a.chart:after,
a.chart:before {
  bottom: -2px;
  width: 4px;
}
a.chart:after {
  height: 25px;
  left: 8px;
}
a.chart:before {
  height: 15px;
  left: 18px;
}



a.icon {
  background-color: #fed;
  border: 2px solid #ffe;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
a.icon:after,
a.icon:before {
  background: #fed;
  border: 2px solid #ffe;
  content: '';
  position: absolute;
}
a.icon:hover,
a.icon:hover:after,
a.icon:hover:before {
  background-color: #ffe;
}



/* Folder Icon */

a.folder {
  height: 18px;
  top: 6px;
  width: 27px;
}
a.folder:after {
  border-bottom: none;
  border-radius: 3px 3px 0 0;
  height: 3px;
  left: 1px;
  top: -5px;
  width: 10px;
}
a.folder:before {
  border: none;
}

img{
 height: 18px;
  top: 6px;
  width: 27px;
}