<h2 mat-dialog-title>Set Limits</h2>
<div mat-dialog-content style="width: 100%;">
    <div class="description_text">
        <label>Write the Description for the Survey you want to generate...</label><br>
        <textarea placeholder="Write description here." class="custom-text" [(ngModel)]="description"></textarea>
    </div>
    <div>
        <label>Select Start Date:</label>
        <input type="date" [(ngModel)]="selectedStartDate" [min]="mindate">
        <label>Select Start Time:</label>
        <input type="time" [(ngModel)]="selectedTime">
    </div>
    <div>
        <label>Select End Date:</label>
        <input type="date" [(ngModel)]="selectedEndDate" [min]="mindate">
    </div>
    <div>
        <label>Enter time duration:</label>
        <input type="number" [(ngModel)]="selectedDuration">
    </div>
    <button (click)="close()">Save Changes</button>
</div>
