<!-- graphs.component.html -->

<div style="display: flex; justify-content: center; align-items: center; height: 500px;">
    <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="surveyData"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      (select)="onSelect($event)"
    >
    </ngx-charts-line-chart>
  </div>
  